.main {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 8px;
  
  position: relative;
}
.cart {
  display: flex;
  flex-direction: column;
  gap: 8px;

  position: sticky;
  top: 92px;

  width: 280px;

  padding: 24px;
  background-color: var(--light);
  border-radius: var(--b-rad);
}
.cart_top,
.cart_bottom {
  display: flex;
  align-items: center;
  gap: 5px;
}
.cart_top span {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}
.cart_bottom span {
  color: var(--blue);
}
.price {
  padding: 92px 0;
  margin-left: 288px;
  width: 100%;
  max-width: 1110px;
}
.price__wrapper {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.price_top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.price__title {
  font-size: 60px;
}
.price__back-link {
  margin-top: 24px;
}
.price__description {
  margin-top: 48px;
  font-size: 18px;
  line-height: 1.5;
}
.price__list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-top: 48px;
}
.price__item {
  display: flex;
  justify-content: space-between;
  gap: 10px;

  height: 144px;

  padding: 24px;

  background-color: var(--light);
  border-radius: var(--b-rad);
}
.price__item_left {
  height: 100%;
  width: 90%;
}
.price__item-title {
  font-size: 20px;
  line-height: 1.5;
  font-weight: 600;
}
.price__item_right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;

  height: 100%;
}
.price__item-cost {
  font-size: 20px;
  font-weight: 600;
  white-space: nowrap;
}
.price__item-cart {
  padding: 12px 24px;
  width: 72px;
  height: 48px;
}
.price__item-cart img {
  height: 24px;
  width: 24px;
}
